{% extends "base.html" %}
{% load static %}

{% block body %}

<main class="principal">
  {% if existing_customer %}
   <section class="carrinho">
     <div class="sacola">
       <div class="sacola__titulos">
         <h1 class="sacola__titulo">Sacola</h1>
         <p>
           Confira seu pedido e finalize bo botão ao lado para aproveitar esse preço especial:
         </p>
       </div>

<table class="tabela">
    <tr>
        <th>Produtos</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Total</th>
    </tr>

{% for item in order_items %}
         <tr>
           <td class="tabela__produto">
             <div class="tabela__imagem">
               <img
                 src="{{ item.stock_item.product.img.url }}"
                 alt="Imagem do Produto"
               />
             </div>
             <div class="tabela__produto-textos">
               <p><b>{{ item.stock_item.product.name }}</b></p>
               <p><b>Tamanho:</b> {{ item.stock_item.size }}</p>
               <p><b>Cor:</b> {{ item.stock_item.color.name }}</p>
             </div>
           </td>

           <td class="tabela__preco-unit">
             <p class="tabela__preco">R$ {{ item.stock_item.product.price }}</p>
           </td>

           <td class="tabela__qtd">
             <div class="tabela__quantidade">
              <form method="POST" action="{% url 'remove_cart' item.stock_item.product.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="size" value="{{ item.stock_item.size }}">
                  <input type="hidden" name="color" value="{{ item.stock_item.color.id }}">
                  <button type="submit">-</button> 
              </form>

               <span>{{ item.quantity }}</span>
               <form method="POST" action="{% url 'add_cart' item.stock_item.product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="size" value="{{ item.stock_item.size }}">
                    <input type="hidden" name="color" value="{{ item.stock_item.color.id }}">
                    <button type="submit">+</button>
               </form>
             </div>
           </td>

           <td>
             <p class="tabela__preco tabela__preco--total">{{ item.total_price }}</p>
           </td>
         </tr>
{% endfor %}
</table>
</div>

     <div class="subtotal">
       <div class="subtotal__infos">
         <p>Quantidade de Produtos</p>
         <p>{{ order.total_quantity }}</p>
       </div>

       <div class="subtotal__infos subtotal__infos--sborda">
         <p>Total</p>
         <p>R$ {{ order.total_price }}</p>
       </div>

       <a href="{% url 'checkout' %}" class="subtotal__botao">Ir ao checkout</a>
     </div>
   </section>
   {% else %}
        <h3>O seu carrinho está vazio</h3>
        <a href="{% url 'store' %}">Visite nossa loja</a>
   {% endif %}
 </main>

{% endblock %}