{% extends "base.html" %}
{% load static %}

{% block body %}

<h3>Loja</h3>

<div style="display: flex;">
    <form method="POST" action="">
        {% csrf_token %}
        <p>Preço</p>
        <input type="number" name="minimum_price" value={{ minimum }} step="0.01">
        <input type="number" name="maximum_price" value={{ maximum }} step="0.01">
    

        <p>Tamanho</p>
        {% for size in sizes %}
        <input type="radio" name="size" value="{{ size }}">
        <label for="{{ size }}">{{ size }}</label>
        {% endfor %}


        <p>Categoria</p>
        {% for category in categories %}
        <input type="radio" name="category" value="{{ category.slug }}">
        <label for="{{ category.slug }}">{{ category.name }}</label>
        {% endfor %}

        
        <p>Tipo</p>
        {% for type in navigation_types %}
        <input type="radio" name="type" value="{{ type.slug }}">
        <label for="{{ type.slug }}">{{ type.name }}</label>
        {% endfor %}
        <button type="submit">Aplicar filtros</button>
    </form>

    <div>
        Ordenar por:
        <ul>
            <li><a href="#" class="sort-item" name="menor-preco">Menor Preço</a></li>
            <li><a href="#" class="sort-item" name="maior-preco">Maior Preço</a></li>
            <li><a href="#" class="sort-item" name="mais-vendidos">Mais Vendidos</a></li>
        </ul>
        {% for product in products %}

        <a href="{% url 'show_product' product.id %}">
        <img src="{{ product.img.url }}" widht="300" height="450">]
        </a>
        <p>Produto: {{ product.name }}</p>
        <p>Preço: {{ product.price }}</p>

        {% endfor %}
    </div>

</div>





<main class="principal principal--padding-b">
    <section class="loja">
      <div class="menu">
        <div class="menu__cabecalho">
          <div class="menu__titulos">
            <div>
              <img
                class="menu__icone"
                src="Imagens/filter-big-1-svgrepo-com.svg"
                alt="Ícone filtrar"
              />
            </div>
            <p class="menu__titulo">Filtrar</p>
          </div>

          <p class="menu__fechar-filtro">X</p>
        </div>

        <div class="menu__preco">
          <p class="menu__subtitulo">Faixa de Preço</p>

          <div class="range_container">
            <div class="sliders_control">
              <input
                id="fromSlider"
                type="range"
                value="0"
                min="0"
                max="1000"
              />
              <input
                id="toSlider"
                type="range"
                value="1000"
                min="0"
                max="1000"
              />
            </div>

            <div class="menu__controles">
              <div class="form_control">
                <div class="form_control_container">
                  <input
                    class="form_control_container__time__input"
                    type="number"
                    id="fromInput"
                    value="0"
                    min="0"
                    max="1000"
                  />
                </div>
                <p>até</p>
                <div class="form_control_container">
                  <input
                    class="form_control_container__time__input"
                    type="number"
                    id="toInput"
                    value="1000"
                    min="0"
                    max="1000"
                  />
                </div>
              </div>

              <button class="menu__botao">Filtrar</button>
            </div>
          </div>
        </div>

        <div class="menu__expansivel">
          <div
            class="menu__expansivel-cabecalho menu__expansivel-cabecalho--aberto"
          >
            <p class="menu__subtitulo">Tamanho</p>
          </div>

          <div class="menu__expansivel-conteudo">
            <div class="menu__tamanhos">
              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>
              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>

              <div class="menu__tamanho">
                <div class="menu__tamanho-quadrado">36</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="36"
                  value="36"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="menu__expansivel">
          <div
            class="menu__expansivel-cabecalho menu__expansivel-cabecalho--aberto"
          >
            <p class="menu__subtitulo">Tipo</p>
          </div>

          <div class="menu__expansivel-conteudo">
            <div class="menu__categorias">
              <div class="menu__categoria">
                <div class="menu__categoria-quadrado"></div>
                <div class="menu__categoria-texto">Camisas</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="Camisas"
                  value="Camisas"
                />
              </div>

              <div class="menu__categoria">
                <div class="menu__categoria-quadrado"></div>
                <div class="menu__categoria-texto">Vestidos</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="Vestidos"
                  value="Vestidos"
                />
              </div>

              <div class="menu__categoria">
                <div class="menu__categoria-quadrado"></div>
                <div class="menu__categoria-texto">Blusas</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="Blusas"
                  value="Blusas"
                />
              </div>

              <div class="menu__categoria">
                <div class="menu__categoria-quadrado"></div>
                <div class="menu__categoria-texto">Tops</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="Tops"
                  value="Tops"
                />
              </div>

              <div class="menu__categoria">
                <div class="menu__categoria-quadrado"></div>
                <div class="menu__categoria-texto">Casacos e jaquetas</div>
                <input
                  class="menu__checkbox"
                  type="checkbox"
                  name="Casacos e jaquetas"
                  value="Casacos e jaquetas"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

    
    </section>
  </main>

{% endblock %}