{% extends "base.html" %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Preencha seus dados para criar uma conta</p>
        </div>

    {% if error == "invalid_email" %}
    <p>Este e-mail é inválido, tente novamente</p>
    {% endif %}

    {% if error == "existing_user" %}
    <p>Já existe um usuário com esse e-mail, <a href="{% url 'sign_in' %}"> faça o login</p>
    {% endif %}

    {% if error == "different_passwords" %}
    <p>Preencha todas as informações do formulário corretamente para criar uma conta</p>
    {% endif %}

    {% if error == "filling" %}
    <p>As senha estão diferentes ou seus campos estão vazios</p>
    {% endif %}
            
        <form
          class="conta__form"
          action="{% url 'create_account' %}"
          method="post"
        >
        {% csrf_token %}
          <div class="conta__item conta__item--email">
            <label for="email">E-mail</label>
            <input name="email" type="email" placeholder="Email" />
          </div>

          <div class="conta__item">
            <label for="password">Senha</label>
            <input name="password" type="password" placeholder="Senha" />
          </div>
         
          <div class="conta__item">
            <label for="password_confirm">Confirmação da Senha</label>
            <input name="password_confirm" type="password" placeholder="Senha" />
          </div>

          <button class="subtotal__botao" type="submit">
            Criar Conta
          </button>
        </form>
        <a href="{% url 'sign_in' %}">Já tem uma conta? Fazer login</a>
      </div>
    <section/>
 </main>



{% endblock %}