{% extends "base.html" %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Faça seu Login</p>
        </div>

        {% if error %}
        <h4>Credenciais inválidas, tente novamente ou crie uma conta</h4>
        {% endif %}
        
        <form
          class="conta__form"
          action="{% url 'sign_in' %}"
          method="post"
        >
        {% csrf_token %}
          <div class="conta__item conta__item--email">
            <label for="email">E-mail</label>
            <input name="email" type="email" placeholder="Email" />
          </div>

          <div class="conta__item conta__item--email">
            <label for="password">Senha</label>
            <input name="password" type="password" placeholder="Senha" />
          </div>

          <button class="subtotal__botao" type="submit">
            Fazer Login
          </button>
        </form>
    <a href="{% url 'create_account' %}">Não tem uma conta? Criar conta</a>
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
      </div>
      <section/>
 </main>
{% endblock %}