{% extends "base.html" %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Meus pedidos</p>
        </div>

        {% for order in orders %}
        <div class="pedido">
          <div class="pedido__cabecalho">
            <div>
              <p><b>Data do pedido</b></p>
              <p>{{ order.completion_date }}</p>
            </div>

            <div>
              <p><b>Total</b></p>
              <p>{{ order.total_price }}</p>
            </div>

            <div>
              <p><b>Número do pedido</b></p>
              <p>{{ order.id }}</p>
            </div>
          </div>

          <div class="pedido__corpo">
            {% for item in order.items %}
            <div class="tabela__imagem">
              <img
                src="{{ item.stock_item.product.img.url }}"
                alt="{{ item.stock_item.product.name }}"
              />
            </div>
            <div class="tabela__produto-textos">
              <p><b>{{ item.stock_item.product.name }}</b></p>
              <p><b>Quantidade:</b>{{ item.quantity }}</p>
              <p><b>Preço:</b> {{ item.total_price }}</p>
            </div>
            {% endfor %}
          </div>

          <p style="margin: 10px">Endereço: {{ order.address.postal_code }}, {{ order.address.street }}-{{ order.address.state }}</p>

        </div>
        {% endfor %}

     
      </div>
    </section>
  </main>

{% endblock %}